# Build
/target/

# IDEs
/.idea/
*.iml
*.ipr
*.iws

# NetBeans
/nb-configuration.xml

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp

# Repositorio Maven local
.m2/


