/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Nov-2022, 15:19:12
    Author     : INGDGC
*/

.lineaResultadosSelect:hover {
  transform: scale(1.02); /* (1.5 = 150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform 0.5s;
  background-color: #0087d1;
  border: solid 1px;
  border-radius: 1.5px;
  cursor: pointer;
}

.textoCentrado{
    text-align: center;
}

input::-webkit-input-placeholder { /* Edge */
  opacity: .17 !important;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: .17  !important;
}

input::placeholder {
  opacity: .17  !important;
}